# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\E-services-eclipse\WebCatalogue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
